importFrom("memisc", spss.fixed.file)
importFrom("memisc", as.data.set)
importFrom("Hmisc",  all.is.numeric)
importFrom("utils", "read.fwf", "read.table")

export(epa2005, test.metadata, defun2011, ees2010, censo2010, epf.2011.gastos, epf.2011.hogares, epf.2011.miembros)
